.referenceCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.referenceCard :global(.ant-card-body) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.referenceType {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
