.documentsPage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: var(--basic-gap);
    min-height: calc(100vh - var(--header-height));
    max-width: 70%;
    margin: 0 auto;
    width: 100%;
}
