.uploadDocumentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
    flex-direction: column;
}

.button {
    width: 100%;
    font-weight: 600;
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--small-gap);
}

.checkbox {
    white-space: nowrap;
}
